*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    background-color: #dddddd;
    min-height: 70px;
}
main{
    background-color: #dddddd;
    min-height: 300px;
    padding: 7.5px 15px;
}
.nav1{
    height: 60px;
    width: 100%;
    background-color: black;
    position: fixed;
    margin-bottom: 50px;
}
.logo{
    width:  75px;
    height: 46px;
    margin-left: 30px;
    margin-right: 20px;
}
.place-img{
    width: 100%;
    max-height: 300px;
    display: block;
}
footer{
    background-color: #cccccc;
    min-height: 70px;
    padding: 15px;
}
.container1{
    width: 100%;
    max-width: 1200px;
}
.container2{
    width: 100%;
    max-width: 1200px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.login-form{
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}
h1{
    color: #009999;
    font-size: 20px;
    margin-bottom: 30px;
}
.input-box{
    margin-bottom: 10px;
}
.input-box input{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
}
.btn-box{
    text-align: right;
    margin-top: 30px;
}
.btn-box button{
    padding: 7.5px 15px;
    border-radius: 2px;
    background-color: #009999;
    color: #ffffff;
    border: none;
    outline: none;
}
