/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text-white{
    color: #fff !important;
    font-size: 35px;
}
.clear {
    clear: both;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}

#header{
    position: fixed;
    height: 60px;
    background-color: #000;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.logo{
    width:  75px ;
    height: 46px;
    margin-left: 30px;
    margin-right: 20px;
}

#nav{
    display: inline-block;
    width: auto;
    font-size: 120%;
}
#nav >li{
    display: inline-block;
}
#nav li {
    /* display: inline-block; */
    position: relative;
    margin-top: 8px ;
    margin-right: 20px;

}





#nav .subnav{
    display: none;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 200px;
    top:100%;
    left: 0px;
    list-style: none;

}

#nav > li:hover >a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;

}
#nav >li >a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
.abc{
    position: absolute;
    right: 4562;
}
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url("./assets/img/pet1.jpg")
}
#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 0;
    width: 100%;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    margin-top: 25px;
    font-size: 15px;

}
#content .content-section1{
    width: auto;
    height: 830px;
    padding-top: 46px;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:emoji;
    font-size: 35px;
    margin-bottom: 30px;
}

#content .img{
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.6)),
     url(https://maplestoresvn.com/wp-content/uploads/2020/10/chon-noi-that-tich-hop-cho-nghi-ngoi-cho-pet-maple-store-vn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    content: " ";
    width: auto;
    height: 800px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


#gt{
    width: auto;
    height: 500px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-around;
}

#gt .intro{
    width: 450px;
    min-height: 400px;
    align-items: center;
    display:flexbox;
    justify-content: center;
    font-family: monospace;
    font-size: 130%;
}

.shiba{
    background-image: url(https://sohanews.sohacdn.com/2017/photo-20-1514222367555.jpg);
    width: 350px;
    height: 350px;
    content: " ";
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    background-position-x: center;
    background-position-y: center;
    margin-top: 70px;
}

.head2{
    font-size: 150%;
    width: auto;
    height: auto;
    margin: 50px 30px 30px 30px;
}

.if{
    margin-bottom: 30px;
}

#content .content-section{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;

}
#content .section-heading{
    font-size: 30px;
    text-align: center; 
    font-weight: 100;
    letter-spacing: 4px;

}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    opacity: 0.6;
    font-style: italic;
    margin-top: 25px;


}
#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
    /* overflow: hidden; */
}
#content .member-item{
    float: left;
    width: calc(100%/3);
    text-align: center;
}
#content .member-name{
    font-size: 15px;
    

    
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* tour section */
.tour-section {
    background-color: #f8af86;
}
.tickets-list{
    list-style: none;
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;

}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}
.tickets-list .quanlity{
    float: right;
    width: 24px;
    height: 24px;
    color: #fff;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    line-height: 24px;
    margin-top:-3px ;
}
.place-list{
    
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px; 
    margin: 32px -8px 30px;
}

.kind{
    display: flex;
    justify-content: center;    
    background-color: #f8af86;
    height: 600px;
    width: auto;
}

.place-item{
    float:left;
    min-width: 25%;
    padding: 0 12px;
}
.place-img{
    width: 100%;
    max-height: 300px;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    font-size: 15px;
    padding: 16px;
    background-color: #fff;
}
.place-heading{
    font-size: 15px;
    font-weight: 600px;
    
}

.content-section2{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-family: emoji;
    display: flex;
    justify-content: space-around;
    background-color: rgb(206, 205, 205);
}
#contact .section-heading{
    font-size: 30px;
}
.section__icon1{
    font-size: 30px;
    color: black;
}
.section__icon2{
    font-size: 30px;
    color: rgb(39, 39, 250);
}
.section__icon3{
    font-size: 30px;
    color: rgb(19, 165, 208);
}

.calender{
    height: 100px;
    width: 100px;
    z-index: 2;
    position: fixed;
    bottom: 3%;
    right: 3%; 
}

.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}
.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}
.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}
#contact .section-sub-heading{
    position: absolute;
    left: 10%;
}
/* footer section */
#footer{

}