* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
    font-style: normal !important;
  }
  
body {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    background-color: #fafafa;
  }
header{
    background-color: white;
    min-height: 70px;
}
.nav1{
    height: 60px;
    width: 100%;
    background-color: black;
    position: fixed;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: black;
  }

a:hover{
    color: blue;
    opacity: 1;
    visibility: visible;
  } 

.logo{
    width:  75px;
    height: 46px;
    margin-left: 30px;
    margin-right: 20px;
}
.place-img{
    width: 100%;
    max-height: 300px;
    display: block;
}

.btn-box{
    margin-left: 20px;
    min-width: 30px ;
}
.btn-box button{
    padding: 7.5px 15px;
    border-radius: 3px;
    background-color: #009999;
    color: #ffffff;
    border: none;
    outline: none;
    min-width: 100px;
}
.btn-box button:hover{
    opacity: 0.5 !important;

}
.input-box{
    margin-bottom: 10px;
    
}
.input-box input{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    min-height: 50px;
}

  td, th { padding: 8px; padding: .5rem;  text-align: center;
}

th {
  font-weight: 300;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
}

td { font-family: 'Avenir Next', 'Segoe UI', 'Lucida Grande', sans-serif; }

  
  .table {
    width: 100%;
    padding: 16px;
    padding: 1rem;
  }
  
  .table__heading { border-bottom: 2px solid #FFC842; }
   @media (max-width: 32rem) {
   .table__heading {
  display: none;
  }
   .table__content {
   display: block;
   padding: .5rem 0;
  }
   .table__row {
   margin: .25rem 1rem;
   padding: .5rem 0;
   display: block;
   border-bottom: 2px solid #FFC842;
  }
   .table__content:before {
   content: attr(data-heading);
   display: inline-block;
   width: 5rem;
   margin-right: .5rem;
   color: #999;
   font-size: .75rem;
   font-weight: 700;
   font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
   text-transform: uppercase;
   letter-spacing: 2px;
  }
  }
  
  h1, h4 {
    margin: 50px auto 50px auto;
    text-align: center;
  }
  
